<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" />
    <title>Brain Render</title>

    <link rel="stylesheet" href="static/style.css" />
    <script type="text/javascript" src="static/before.js"></script>
    <script type="text/javascript" src="static/d3.v7.min.js"></script>
</head>

<body>
    <div>
        <h1>Brain Render</h1>
        <div>
            <p>Loaded on: {{ load_on_time }}</p>
        </div>
    </div>

    <div>
        <div>
            <h2>
                <span>Atlas:</span>
                <span id="h2-1"></span>
            </h2>
        </div>

        <div>
            <div>
                <canvas id="canvas-1" width="600" height="600" style="width: 600px; height: 600px"></canvas>
                <canvas id="canvas-2" width="600" height="600" style="width: 600px; height: 600px"></canvas>
            </div>
        </div>

        <div>
            <h2> Controller:</h2>
            <input id="atlas-selector-1" type="text" list="atlas-list-1" placeholder="Atlas">
            <datalist id="atlas-list-1">
                <option>A1</option>
                <option>A2</option>
            </datalist>

            <span>x: </span>
            <input id="input-degree-x" class="TriggerVolumeRender" type="range" min="-180" max="180" value="0"
                step="5" />
            <span>y: </span>
            <input id="input-degree-y" class="TriggerVolumeRender" type="range" min="-180" max="180" value="0"
                step="5" />
            <span>z: </span>
            <input id="input-degree-z" class="TriggerVolumeRender" type="range" min="-180" max="180" value="0"
                step="5" />
            <span>slice: </span>
            <input id="input-slice" class="TriggerVolumeRender" type="range" min="0" max="90" value="50" step="2" />

        </div>

        <div>
        </div>
    </div>

    <script type="text/javascript" src="static/after.js"></script>
</body>

</html>